@import "./assets/styles/variables.scss";
@import "./assets/styles/markdown.scss";
@import "./assets/styles/pattern.scss";

@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", monospace;
  font-size: 16px;
  overflow-x: hidden;
}
body,
html {
  width: 100%;
  height: 100%;
}

img {
  box-shadow: 3px 3px 0 rgba($color-primary, 0.6);
}

::selection {
  background-color: $color-primary;
  color: $sub-menu-button-background;
}

::-moz-selection {
  background-color: $color-primary;
  color: $sub-menu-button-background;
}

//============= GLITCH EFFECT =============//
.glitch {
  animation: glitch 1s linear infinite;
  &::before,
  &::after {
    content: attr(title);
    position: absolute;
    left: 0;
  }
  &::before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  &::after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.console-line {
  color: #ffffff;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("./assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("./assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/Merriweather/Merriweather-Light.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("./assets/fonts/Cormorant/Cormorant-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT_Serif";
  src: url("./assets/fonts/PT_Serif/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
